node_modules
.DS_Store
.env
.env.*
*.log
backend/dist
frontend/dist
__pycache__/
*.pyc
backend_node_archive/dist
backend_node_archive/node_modules
__pycache__/
*.pyc
.pyc
__pycache__
*.egg-info
SaaS_Demo/outputs/
SaaS_Demo/videos/
